In [1]:
bool()

False

In [1]:
type(True)

bool

In [2]:
# shift + tab on function to get more info 
my_str = 'hello'
my_str.isdigit() # many more functions like this exists

False

### LISTS

In [3]:
type([])

list

In [4]:
lst = []

In [7]:
lst = ['hello', '13abc', 900]

In [8]:
lst

['hello', '13abc', 900]

In [9]:
lst.append('this was added') # there is also extend function

In [10]:
lst

['hello', '13abc', 900, 'this was added']

In [11]:
len(lst)

4

In [13]:
# selecting a part of the list 
lst[1:]

['13abc', 900, 'this was added']

In [39]:
# can perform operations on the list 
lst_num = [1,2,3,4,5,1,1]
sum(lst_num)

17

In [40]:
lst_num.pop()

1

In [42]:
max(lst_num)

5

In [43]:
lst_small = [1,2,3]

In [45]:
# this duplicates the list 
lst_small*2

[1, 2, 3, 1, 2, 3]

In [46]:
# multiply content in list, there are lots of ways 
list(map(lambda x: x*2, lst_small))

[2, 4, 6]

## SETS
unordered, iterable, no duplicated elements.

In [48]:
set_my = {'bob', 'adam', 23, 111}
print(set_my)

{'adam', 23, 111, 'bob'}

In [49]:
# adding to a set, using inbuilt function
set_my.add("dad")
print(set_my)
# functions like Union... that can be performed on two sets exists. And many more

{111, 'bob', 23, 'adam', 'dad'}

## DICTIONARY
* unsorted collection
* can index 
* key value pairs

In [50]:
dicnry = {'car1': 'bmw', 'car2': 'volvo', 'car3': 'honda'}

In [51]:
dicnry

{'car1': 'bmw', 'car2': 'volvo', 'car3': 'honda'}

In [52]:
dicnry['car1']

'bmw'

In [53]:
#looping thru 
for x in dicnry:
    print(x)

car1
car2
car3

In [54]:
#loop values
for x in dicnry.values():
    print(x)

bmw
volvo
honda

In [55]:
# loop key and values
for x in dicnry.items():
    print(x)

('car1', 'bmw')
('car2', 'volvo')
('car3', 'honda')

In [56]:
# adding new items 
dicnry['car4'] = 'truck'

In [57]:
dicnry

{'car1': 'bmw', 'car2': 'volvo', 'car3': 'honda', 'car4': 'truck'}

In [58]:
# edit existing key's values
dicnry['car1'] = 'police car'

In [59]:
dicnry

{'car1': 'police car', 'car2': 'volvo', 'car3': 'honda', 'car4': 'truck'}

### Nested dict

In [60]:
fruit1_num = {'apple':3}
fruit2_num = {'banana': 1}
fruit3_num = {'lemon': 5}

fruit_type = {'fruit1': fruit1_num, 'fruit2': fruit2_num, 'fruit3': fruit3_num}

In [61]:
print(fruit_type)

{'fruit1': {'apple': 3}, 'fruit2': {'banana': 1}, 'fruit3': {'lemon': 5}}

In [62]:
print(fruit_type['fruit1'])

{'apple': 3}

In [63]:
print(fruit_type['fruit1']['apple'])

3

### Tuple
CANT change the elements afterwards

In [64]:
my_tuple = ('josh', 'eva', 'jon')

In [65]:
my_tuple[1]

'eva'

# NUMPY

In [1]:
import numpy as np

In [3]:
my_lst = [1,2,3,4,5]
arr = np.array(my_lst)

In [4]:
type(arr)

numpy.ndarray

In [5]:
arr

array([1, 2, 3, 4, 5])

In [6]:
# multinested array 
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
arr = np.array([a, b, c])

In [7]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
arr.shape

(3, 3)

In [11]:
#copy
arr = [range(10)]

In [29]:
arr = []
arr.extend(range(1, 11))
arr = np.array(arr)

In [30]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [32]:
arr[3:] = 100

In [33]:
arr

array([  1,   2,   3, 100, 100, 100, 100, 100, 100, 100])

In [35]:
# conditon
arr<50

array([ True,  True,  True, False, False, False, False, False, False,
       False])

In [36]:
arr[arr<50]

array([1, 2, 3])

In [38]:
# randomize some ints 
np.random.randint(0,100,3)

array([ 2, 71, 25])

## PANDAS

In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'],columns=['Column1','Column2','Column3','Column4'])

In [6]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [11]:
# access elements
# .loc OR .iloc <iloc u say rows and columns>
x = df.loc['Row1']
print(x)
print(type(x))

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64
<class 'pandas.core.series.Series'>

A series a either ONE row or ONE column 
A dataframe is multiple series.

In [12]:
y = df.iloc[0:3,0:2] # index start at 0 and for ending it is exclusive so index 3 is not included in this case
print(y)
print(type(y))

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
<class 'pandas.core.frame.DataFrame'>

In [13]:
# converting df to array
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [14]:
# can also index in a array style, can also get multiple columns out 
df['Column3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int64

In [15]:
df = pd.read_csv('train.csv')

In [17]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [27]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
data = ('a,b,c\n'
           '4,apple,bat\n'
               '8, orange,cow')

In [31]:
from io import StringIO, BytesIO

In [35]:
pd.read_csv(StringIO(data))

   a        b    c
0  4    apple  bat
1  8   orange  cow

In [37]:
pd.read_csv(StringIO(data), index_col=False)

   a        b    c
0  4    apple  bat
1  8   orange  cow

In [38]:
# some cleaning
data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [39]:
pd.read_csv(StringIO(data),escapechar='\\')

                               a  b
0  hello, "Bob", nice to see you  5

In [40]:
# url to csv 
# use read_csv('link', sep='some seperator')

In [ ]:
#pickling, used in ML